[Desktop Entry]
Name=Keyboard
Comment=Virtual Keyboard
Exec=matchbox-keyboard-toggler
Type=Application
Icon=matchbox-keyboard.png
Categories=Panel;Utility;MB
X-MB-INPUT-MECHANSIM=True
